body {
	background-color: aquamarine;
}

.map {
	position: relative;
	right: 0%;
	border: 5px black;
	border-radius: 10px;
	border: 5px solid orange;
}

.Title {
	font-size: 42px;
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
}

.Title-Container {
	width: 550px;
	border: 10px solid black;
	padding: 25px;
	margin: 10px;
	position: relative;
	left: 35%;
	text-align: center;
	background-color: rgb(185, 203, 253);
	top: 100px;
	border-radius: 10px;
}

.Test {
	text-align: left;
}

.Reviews {
	font-family: monospace;
	font-size: 16px;
	text-align: left;
}

.search {
	text-align: center;
}

input[type="text"] {
	font-family: monospace;
	width: 19%;
	height: 5%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 6px;
	font-size: 14px;
	background-color: white;
	background-position: 5px 5px;
	background-repeat: no-repeat;
	padding: 3px 5px 3px 10px;
}

.button {
	font-family: monospace;
	display: inline-block;
	padding: 15px 25px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: orange;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.button:hover {
	background-color: lavender;
}

.button:active {
	background-color: lavender;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
